html {
  background-color: #c9c8c6;
}
body {
  font-family: Helvetica;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.02em;
}
.info,
.spdiv {
  width: 100%;
  text-align: left;
}
.spdiv {
  float: left;
}
.intro {
  text-align: center;
  width: 100%;
  text-indent: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a.contact:hover,
a.ce:hover,
a.laabf:hover,
a.sp:hover {
  color: #fff;
}
a:before,
a:hover:after,
a.recenthover:after {
  content: '»';
}
a:after,
a:hover:before,
a.recenthover:before {
  content: '«';
}
a.no:before,
a.no:hover:after {
  content: '';
}
a.no:after,
a.no:hover:before {
  content: '';
}
.date,
sup {
  font-style: italic;
  margin-right: 60px;
  font-style: italic;
  margin-right: 30px;
}
.di-img {
  float: right;
  max-width: 409px;
  margin: 18px 5px 0;
}
.di-img img {
  width: 100%;
}
.sp-img {
  max-width: 597px;
  margin-top: -7px;
}
.sp-img img {
  float: left;
  width: 100%;
  margin: 15px 15px 10px 0;
}
.sp-text {
  margin-top: -37px;
}
.wk-img {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.hommeframe iframe {
  width: 90%;
  height: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.sm-img {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
.sm-img img,
.wk-img img {
  width: 100%;
}
.recent {
  color: #f00;
}
.recenthover {
  color: #fff;
}
.dihover {
  color: #752653;
}
.bgsp {
  background-color: #d9220a;
}
.bgdi {
  background-color: #fff;
}
.bgce {
  background-color: #c9ac8b;
}
.bglaabf {
  background-image: -ms-linear-gradient(top, #ed1d6e 0, #f69147 60%, #ed1d6e 100%);
  background-image: -moz-linear-gradient(top, #ed1d6e 0, #f69147 60%, #ed1d6e 100%);
  background-image: -o-linear-gradient(top, #ed1d6e 0, #f69147 60%, #ed1d6e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed1d6e), color-stop(0.6, #f69147), color-stop(1, #ed1d6e));
  background-image: -webkit-linear-gradient(top, #ed1d6e 0, #f69147 60%, #ed1d6e 100%);
  background-image: linear-gradient(to bottom, #ed1d6e 0, #f69147 60%, #ed1d6e 100%);
}
.cycle-slideshow {
  width: 100%;
  min-width: 200px;
  max-width: 700px;
  margin: 10px auto;
  padding: 0;
  position: relative;
}
.cycle-slideshow img {
  width: 100%;
}
@media only screen and (max-width:320px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
  .date,
  sup {
    font-style: italic;
    margin-right: 30px;
  }
}
